@media{
body{
	flex: warp;
	font-family: Ariel, sans-serif;
	background: lightgray;
	margin: 20px;
}
h1{
	color: black;
	padding: 10px;
	margin: 20px;
	text-align: center;
}
img{
	width: 200;
	align-items: center;
	margin: 20px;
}
p{
	color: black;
	text-align: center;
}
}
